// colors 
$fcolor:#300feb;
$scolor:#f3eeec;
$dark:#040407e6;
$white: #ff12;
$red:#fc0606;
$light-black:#f5f1f1;
$color-gray-light1:#e6dddd;
$aqua:#00ffff;


// grid layout
$margin:0 auto;     
$margin-bottom:9rem;
$width:114rem; 
$horzintal-col:6rem;
$verticle-col:8rem;